body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.calculator {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.display {
  width: 225px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  background-color: #eaeaea;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.buttons button {
  padding: 20px;
  font-size: 1.2rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.buttons button:hover {
  background-color: #ddd;
}
.buttons button:active {
  background-color: #ccc;
}
.wide {
  grid-column: span 2;  
}
.buttons .equals{
  background-color: rgb(8, 141, 8);
  grid-column: span 4;
  color: black;
  transition: background-color 0.2s ease;
} 
.buttons .equals:hover {
  background-color: rgba(15, 90, 15, 0.705);
}
.buttons .equals:active {
  background-color: rgba(9, 99, 9, 0.966);
}